@page "/"
@using System.Reflection

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<input class="form form-control col-5" @bind="componentName" @bind:event="oninput"/>

@RenderFragment

@code{
    Type[] types => Assembly.GetExecutingAssembly().GetTypes().Where(type => type.BaseType == typeof(ComponentBase)).ToArray();
    Type selecteType;
    RenderFragment RenderFragment;
    private string _componentName;
    public string componentName
    {
        get { return _componentName; }
        set
        {
            _componentName = value;
            selecteType = types.Where(type => type.Name.ToUpper() == value.ToUpper())
                .FirstOrDefault() ?? typeof(SurveyPrompt);
            RenderFragment = (builder) =>
            {
                builder.OpenComponent(0, selecteType);
                builder.CloseComponent();
            };
        }
    }
}